/* You can add global styles to this file, and also import other style files */
body {
  background-color: #F5F5F8;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.custom-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 30px;
  width: 400px;
}
